body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

#paragraph-result {
  margin-top: 50px;
}

label {
  display: block;
}

input {
  width: 40%;
  padding: 4px;
}

button {
  width: 40%;
  margin-top: 16px;
  padding: 4px;
}
